<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
  <title>⭐️ kh.me.kr ⭐️</title>
  <link rel="stylesheet" href="/css/default.css" />
  <link rel="stylesheet" href="/summernote/summernote-lite.min.css" />
  <script src="/js/dayjs.min.js"></script>
  <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="/summernote/summernote-lite.min.js"></script>

  <!-- SEO -->
  <% if (typeof seo !== 'undefined') { %>
  <meta name="description" content="<%= seo.content %>" />
	<meta property="url" content="<%= defaultHost %>/post/<%= post._id %>"/>
	<meta property="og:url" content="<%= defaultHost %>/post/<%= post._id %>" />
	<meta property="og:type" content="article">
	<meta property="og:title" content="<%= seo.title %>" />
	<meta property="og:description" content="<%= seo.content %>" />
	<meta property="og:image" content="<%= defaultHost %>/img/cover.jpg" />
  <% } else { %>
  <meta name="description" content="My personal blog" />
	<meta property="url" content="<%= defaultHost %>"/>
	<meta property="og:url" content="<%= defaultHost %>" />
	<meta property="og:type" content="website">
	<meta property="og:title" content="kh.me.kr" />
	<meta property="og:description" content="My personal blog" />
	<meta property="og:image" content="<%= defaultHost %>/img/cover.jpg" />
  <% } %>
</head>
<body>
  <header>
    <h1 style="text-align:center"><a href="/">⭐️ kh.me.kr ⭐️</a></h1>
    <nav>
      <a href="/">홈</a> | 
      <a href="/categories">카테고리</a> | 
      <% if (currentUser) { %>
      <span><%= currentUser.username %>님</span> | 
      <a href="/create">글쓰기</a> | 
      <a href="/logout">로그아웃</a> | 
      <a href="/register">회원가입</a>
      <% } else { %>
      <a href="/login">로그인</a>
      <% } %>
    </nav>
    <hr />
  </header>
  <main>
    <%- body %>
  </main>
</body>
</html>
